<h1>This is a Test Site to Study Basics</h1>
<br />
<p><a href="/pastures">View Pastures List</a></p>
<br />
<br />
<br />
<p><a href="squarespace/get_products">Get Product data from Squarespace</a></p>
<p><a href="squarespace/get_orders">Get Order data from Squarespace</a></p>
<p><a href="squarespace/get_transactions">Get Transaction data from Squarespace</a></p>
<br />
<br />
<br />
<p><a href="squarespace/products">View Product data retrieved from Squarespace</a></p>
<p><a href="squarespace/orders">View Order data retrieved from Squarespace</a></p>
<p><a href="squarespace/transactions">View Transaction data retrieved from Squarespace</a></p>
